body,
html {
  height: 100%;
  color: white;
}

.App {
  text-align: center;
  height: 100%;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0
}

#particles-js canvas {
display: block;
vertical-align: bottom;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
transition: opacity .8s ease, transform 1.4s ease
}

.intro-desc {
  margin-top: 10vh;
}

.navigation {
  margin-bottom: 10vh;
}

.intro, .approach{
  height: 100vh;
}


.approach{
  background: #15141d;
}

.footer {
  background: #1d1b27;
  height: 30vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navigation {
  padding: 10vh 30vh 0 30vh;
  display: flex;
  align-items: baseline;
}

.logo {
  display: flex;
}

svg {
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px
}

.navigation-container {
  display: flex;
  justify-content: space-evenly;
}

.navigation button {
  font-family: essonnes-display,serif;
  font-size: 20px;
  text-decoration: none;
  background: none;
  border: none;
}

.navigation button:hover {
  text-decoration: none;
  background: none;
  border: none;
}

.section-divider h1 {
  font-family: essonnes-display,serif;
  font-style: italic;
  font-weight: 300;
  font-size: 90px;
  color: #4adada;
}































/*modifying scrollbar*/
body::-webkit-scrollbar{
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .7);
}

body::-webkit-scrollbar-thumb {
  background-color: #1d1b27;
  border-radius: 50%;
  width: 0.2em;
  height: 0.2em;
  /*border-radius: 75px;*/
}
